.project {
    padding-bottom: 2.5rem;

    &__bio-img {
        width: 100%;
        height: 45vh;
        background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.5)
        ),
        url("../img/img1.JPG") center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .text-secondary {
            padding-bottom: 2rem;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    &__items {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        &-item {
            overflow: hidden;
            position: relative;
            border-bottom: 5px solid $secondary-color;


            img {
                width: 100%;
                height: 100%;
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                height: 100%;
                width: 100%;
                background: $secondary-color;
                @include transition-ease;
            }

            &:hover {
                &::after{
                    top: 0;
                    opacity: 0.9;
                }

                .project__btn {
                    opacity: 1;
                }
            }

            .project__btns {
                align-items: center;
                text-align: center;
                position: absolute;
                z-index: 1;
                top: 0;
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .project__btn {
                opacity: 0;
                color: $text-color;
                @include transition-ease;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }


    .social__icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: rotate(90deg) translate(-4rem, -4rem);
    }
}