@include media-md {
    .menu__btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu__nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &-item {
                display: inline;
                padding-right: 1.5rem;
            }

            &-link {
                font-size: 1rem;
            }
        }
    }

    .about__bio {
        font-size: 1rem;
    }

    .project__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .project .text-secondary {
        font-size: 3rem;
    }

    .contact__options {
        grid-template-columns: repeat(2, 1fr);
    }

    .hobbies__items {
        columns: 2;
    }
}


@include media-lg {
    .menu__btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu__nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &-item {
                display: inline;
                padding-right: 1.5rem;
            }

            &-link {
                font-size: 1.5rem;
            }
        }
    }

    
    .about__bio {
        font-size: 1.2rem;
    }

    .contact__options {
        grid-template-columns: repeat(3, 1fr);
    }
}


@include media-xl {
    
}